<div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-md">
       
    <form [formGroup]="loginForm" (submit)="login()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="text-center text-4xl mb-4"> Login</div>
        <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="email" formControlName="email" class="w-full">
            </mat-form-field>
        </div>
        <div class="mb-6">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="password" formControlName="password" class="w-full">
            </mat-form-field>
        </div>
        <div class="flex items-center justify-center">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-6 rounded focus:outline-none focus:shadow-outline text-lg"
                type="submit">Login</button>
        </div>
    </form>
    </div>
</div>

